# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/
.python-version

# Logs e anteprime
*.log
log_blog_manager.txt
/temp_preview.html
/pages/news/temp_preview.html

git_status.txt
gitstatus.txt

# Archivi e build
*.zip
*.tar
*.tar.gz
*.tgz
*.7z

# Editor/OS
.DS_Store
Thumbs.db
